apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gateway-api-crds
  namespace: argocd
  labels:
    rbx.env: production
    rbx.product: platform
    rbx.agent_id: human
    rbx.change_id: CHANGE_ID_PLACEHOLDER
    app.kubernetes.io/part-of: rbx-systems
spec:
  project: default
  source:
    repoURL: https://github.com/kubernetes-sigs/gateway-api
    targetRevision: v1.1.0
    path: config/crd
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
