apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rbs-paradedb-data
  namespace: robson
  labels:
    app: rbs-paradedb
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 10Gi

